@using FootballRadar.Admin.WebApp.Controllers
@using FootballRadar.Admin.WebApp.Models
@using FootballRadar.Web.Utilities
@model CreateLeagueViewModel

<h2>Create new league</h2>

<form method="post" action="@Url.Action(nameof(LeagueController.CreateLeague), ControllerName.For<LeagueController>())">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group mb-3">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" value="@Model?.Name" />
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <label>Logo URL</label>
        <input type="text" name="Logo" class="form-control" value="@Model?.Logo" />
        @Html.ValidationMessageFor(m => m.Logo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <label>Country</label>
            <option value="">-- Please Choose --</option>
            <select asp-for="CountryId"
                    asp-items="@(new SelectList(Model!.Countries, "Id", "Name"))"
                    class="form-control">
                <option value="">-- Please Choose --</option>
            </select>
        @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-secondary" href="@Url.Action(nameof(LeagueController.LeaguesList), ControllerName.For<LeagueController>())">Back to list</a>
</form>
